@font-face{
font-style: normal;
font-family: "Linux Libertine O";
font-weight: normal;
src: url(fonts/LinLibertine_R.otf);
}
@font-face{
font-style: normal;
font-family: "Linux Libertine Initials O";
font-weight: normal;
src: url(fonts/LinLibertine_I.otf);
}
@font-face{
font-style: normal;
font-family: "Linux Biolinum O";
font-weight: normal;
src: url(fonts/LinBiolinum_R.otf);
}
